USE [BookGrotto]
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKe]    Script Date: 3/13/2023 1:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[sp_ThongKe]
AS
BEGIN
	DECLARE @SoTruyCapGanNhat bigint
	DECLARE @Count	INT
	SELECT @Count = COUNT(*) FROM ThongKes
	IF @Count IS NULL SET @Count=0
	IF @Count=0
		INSERT	INTO ThongKes(ThoiGian,SoTruyCap)
		Values(GETDATE(),1) 
	ELSE 
		BEGIN
			DECLARE @ThoiGianGanNhat datetime
			SELECT @SoTruyCapGanNhat = tk.SoTruyCap,@ThoiGianGanNhat=tk.ThoiGian FROM ThongKes tk
			WHERE tk.Id=(SELECT MAX(tk1.Id) FROM ThongKes tk1)
			IF @SoTruyCapGanNhat IS NULL SET @SoTruyCapGanNhat=0
			IF @ThoiGianGanNhat IS NULL SET @ThoiGianGanNhat=GETDATE()
			--Nếu chuyển sang ngày mới (sau 12h đêm)
			--Nếu chưa sang ngày mới thì update
			IF DAY(@ThoiGianGanNhat)=DAY(GETDATE())
				BEGIN
					UPDATE ThongKes
					SET
					SoTruyCap=@SoTruyCapGanNhat+1,
					ThoiGian=GETDATE()
					WHERE Id=(SELECT MAX(tk1.Id) FROM ThongKes tk1)
				END
			--Nếu đã sang ngày mới thì thêm một bản ghi mới
			ELSE
				INSERT INTO ThongKes(ThoiGian,SoTruyCap)
				Values(GETDATE(),1)
		END

		--Thống Kê Hom nay, Hom qua, Tuan nay, Tuan trươc, Thang nay, Thang truoc
		DEClARE @HomNay bigint
		SET @HomNay=DATEPART(DW,GETDATE());
		SELECT @SoTruyCapGanNhat=SoTruyCap,@ThoiGianGanNhat=ThoiGian FROM ThongKes 
		WHERE Id=(SELECT MAX(Id) FROM ThongKes)

		 -- Số Truy Cập ngày hôm qua
		 DECLARE @TruyCapHomQua bigint
		 SELECT @TruyCapHomQua=ISNULL(SoTruyCap,0) FROM ThongKes
		 WHERE CONVERT(nvarchar(20),ThoiGian,103)=CONVERT(nvarchar(20),GETDATE()-1,103)
		 IF @TruyCapHomQua IS NULL SET @TruyCapHomQua =0
		 --Số Truy Cập Đầu Tuần Này
		 DECLARE @DauTuanNay datetime
		 SET @DauTuanNay= DATEADD(wk, DATEDIFF(wk, 6, GETDATE()),6)
		 --Tính ngày đâu của tuần trước tính từ thời điểm 00:00
		 DECLARE @NgayDauTuanTruoc datetime
		 SET @NgayDauTuanTruoc = CAST(CONVERT(nvarchar(30),DATEADD(dd,-(@HomNay+6), GETDATE()),101) AS datetime)
		 --Tính ngày cuối tuần trước tính đến 24h ngày cuối tuần
		 DECLARE @NgayCuoiTuanTruoc datetime
		 SET @NgayCuoiTuanTruoc = CAST(CONVERT(nvarchar(30),DATEADD(dd, -@HomNay, GETDATE()),101) +'23:59:59' AS datetime)
		 --Số Truy Cập Tuàn Này
		 DECLARE @TruyCapTuanNay bigint
		 SELECT @TruyCapTuanNay=ISNULL(sum(SoTruyCap),0) FROM ThongKes
		 WHERE ThoiGian BETWEEN @DauTuanNay AND GETDATE()
		 --Số Truy Cập Tuần Trước
		 DECLARE @TruyCapTuanTruoc bigint
		 SELECT @TruyCapTuanNay=ISNULL(sum(SoTruyCap),0) FROM ThongKes ttk
		 WHERE ttk.ThoiGian BETWEEN @NgayDauTuanTruoc AND @NgayCuoiTuanTruoc
		 --Số Truy Cập Tháng Nay
		 DECLARE @TruyCapThangNay bigint
		 SELECT @TruyCapThangNay=ISNULL(sum(SoTruyCap),0) FROM ThongKes ttk
		 WHERE MONTH(ttk.ThoiGian)=MONTH(GETDATE())
		 --Số Truy Cập Tháng trước
		 DECLARE @TruyCapThangTruoc bigint
		 SELECT @TruyCapThangTruoc=ISNULL(sum(SoTruyCap),0) FROM ThongKes ttk
		 WHERE MONTH(ttk.ThoiGian)=MONTH(GETDATE())-1
		 --Tính Số Tổng
		 DECLARE @TongSo bigint
		 SELECT @TongSo=ISNULL(sum(SotruyCap),0) FROM ThongKes ttk

		 SELECT @SoTruyCapGanNhat AS HomNay,
		 @TruyCapHomQua AS HomQua,
		 @TruyCapTuanNay AS TuanNay,
		 @TruyCapTuanTruoc AS TuanTruoc,
		 @TruyCapThangNay AS ThangNay,
		 @TruyCapThangTruoc AS ThangTruoc,
		 @TongSo AS TatCa
END